<div ng-controller="mainController">
    <div backstretch backstretch-images="images" class="fullscreen">
            <div class="row">
                <div class="container">
                  <div class="page-header">
                    <h1>The Garden</h1>      
                  </div>
                </div>
            </div>
            <div  class="md-padding col-md-8 col-md-offset-2" ng-cloak layout="column">

                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Preferences</span>
                            <span class="md-subhead">Choose Conditions</span>
                        </md-card-title-text>
                    </md-cards-title>

                    <md-card-content>
                        <div layout="row" layout-align="space-between center">
                            <span>Moisture</span>
                            <md-select ng-model="moisture" placeholder="Average" class="md-no-underline">
                                <md-option value="D">Dry</md-option>
                                <md-option value="A">Average</md-option>
                                <md-option value="Wet">Wet</md-option>
                            </md-select>
                        </div>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                            <a ui-sref="display"><md-button class="md-raised md-primary">submit</md-button></a>
                        </section>

                        
                    </md-card-content>
                </md-card>

            </div>
        </div>
    </div>
</div>